*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



nav{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: auto;
    background: #222;
    padding: 20px 30px;
    

}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
    list-style: none;

}

nav ul li  a{
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
}


nav ul li a:hover{
    background-color: #fff;
    color: black;
    transition: .3s;
}

.row{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    padding: 20px;
}
.card{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    border: 1px solid #222;
    padding: 10px;
    border-radius: 20px;
}

.card:hover{
    transform: translate(5px,-5px);
    transition: .4s ease-in-out;
    background-color: #333;
    color: white;
}

.card-header h2{
    font-size: 1.5rem;

}

.card img{
    border-radius: 10px;
    width: 250px;
}

.card-footer a{
    padding: 10px 30px;
    text-decoration: none;
    background-color: rgb(255, 66, 33);
    border-radius: 20px;
    color: white;
}


.container-data{
    margin-top: 40px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


input[type=text]{
    width: 300px;
    outline: none;
    border-radius: 3px;
    border: 1px solid blue;
    padding: 3px;
}

textarea{
    width: 300px;
    height: 100px;
    resize: none;
    outline: none;
    border-radius: 3px;
    border: 1px solid blue;
    padding: 6px;
}

input[type=submit]{
    padding: 10px 50px;
    background-color: blue;
    color: white;
    border: 1px solid white;
    margin-top: 10px;
    border-radius: 20px;
    cursor: pointer;
}

input[type=submit]:hover{
    transform: translate(5px,-5px);
    transition: .2s ease-in-out;
    background-color: #333;
    color: white;
}








